# Ignore everything under data/
data/*
notebooks/data/*
notebooks/khmer_trocr_model/*
notebooks/outputs/
khmer_tokenizer/
outputs/
khmer_trocr_model/

# Ignore Python cache
__pycache__/
*.py[cod]


# But keep placeholder files so the folders exist in git
!data/**/.gitkeep
!outputs/.gitkeep
!khmer_trocr_model/.gitkeep

